:root {
  --clr1: hsl(34, 32%, 58%);
  --clr2: lightgray;

  --clr1bg: bisque;
  --clr1bg-light: rgb(241, 236, 193);
  --clr2bg: bisque;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 