.app-header {
  position: relative;
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
 
box-shadow: inset 0px -6px 0 rgb(240, 211, 173);
}
/* ADDED STYLE TO THE HEADER */
.app-header h1 {
  display: flex; 
  align-items: center; 
  margin-left: 10px;
  padding: 10px;

}

.app-header .app-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

.app-header .app-nav a {
  /* margin-left: 1rem; */
  border-inline-end: 3px solid rgb(240, 211, 173);
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 0.4s;
  padding: 15px ;
}

.app-header .app-nav a.active {
  box-shadow: inset 10px -1px 10px 0px rgb(240, 211, 173);
  
  cursor: auto;
}

.app-header .app-nav a:hover {
  box-shadow: inset 10px -1px 10px 0px rgb(240, 211, 173);
  color: grey;
  cursor: auto;
}

.app-header .app-nav a:last-child {
  border-inline-end: none; 
}

.form .login-form {
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  position: absolute;
}



@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}

/* position: relative;
background-color: bisque;
z-index: 0;
box-shadow: inset 0px -6px 0 #1d1d1d;
height: 120px;  */
