.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.toy-preview h4{
    text-transform: capitalize;
    color: black;
}

.toy-preview img {
    max-width: 100px;
    max-height: 100px;

}

.toy-details img {
    width: 200px;
    height: 200px;
}